        html {
            width: auto;
            max-width: 100%;
            height: auto;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        
        body {
            margin: 0px;
        }
        
        .current {
            font-size: x-large;
            text-decoration: underline;
        }
        
        #current {
            font-size: x-large;
            text-decoration: underline;
        }
        
        .nav li a {
            color: black;
        }
        
        .nav {
            margin-top: 0px;
            color: black;
            text-decoration: none;
            font-style: italic;
            font-weight: bold;
            font-size: larger;
            list-style: none;
            word-spacing: 80px;
            background-color: rgb(209, 148, 185);
        }
        
        .top5header {
            white-space: nowrap;
            word-spacing: normal;
        }
        
        .dropdown {
            display: inline-block;
            position: relative;
        }
        
        .dropbtn {
            background-color: rgb(209, 148, 185);
            color: black;
            padding: 5%;
            font-size: large;
            border: solid 1px rgb(209, 148, 185);
            border-radius: 45%;
            font-style: italic;
            font-weight: bold;
        }
        
        .dropdowncontent {
            display: none;
            position: absolute;
            background-color: rgb(209, 148, 185);
            z-index: 1;
        }
        
        .dropdowncontent a {
            text-decoration: none;
            display: block;
            text-align: center;
            color: black;
            font-size: medium;
            word-spacing: normal;
            white-space: nowrap;
            padding: 10px 10px;
        }
        
        .dropdown:hover .dropdowncontent {
            display: block;
        }
        
        li {
            display: inline;
        }
        
        li :visited {
            color: black;
            text-decoration: none;
        }
        
        li :hover {
            font-size: x-large;
            text-decoration: underline;
        }
        
        .header {
            display: inline-flex;
            padding: 20px 10px;
            width: auto;
            max-width: 100%;
            height: auto;
        }
        
        .anchor {
            margin: 0 auto;
            height: 225px;
            width: auto;
            max-width: 100%;
        }
        
        #s {
            color: rgb(131, 54, 86);
            font-size: 75px;
        }
        
        .with {
            color: black;
            font-size: 50px;
        }
        
        .sandy {
            font-size: 65px;
            color: black;
        }
        
        .linkHomeHeaders {
            font-size: 20px;
            color: rgb(131, 54, 86);
            max-width: 100%;
        }
        
        .introP {
            font-style: italic;
            color: black;
            padding: 30px;
        }
        
        .column {
            float: left;
            width: 33.33%;
            padding: 10px;
            margin: 10px;
        }
        
        .column2 {
            float: left;
            width: 50%;
            padding: 10px;
            margin: 10px;
        }
        
        .row {
            display: flex;
        }
        
        .row :hover {
            font-size: 25px;
        }
        
        figcaption {
            font-size: 20px;
            font-weight: bolder;
            color: rgb(131, 54, 86);
        }
        
        .footericon {
            color: black;
            margin: 25px;
            word-spacing: 80px;
            width: 65px;
        }
        
        .minipage-contactfooter {
            margin: 25px;
            word-spacing: 80px;
        }